*{
    margin: 0;
    padding: 0;
}
body{
    background: cornflowerblue;
}
.ball{
    position: absolute;
    opacity: 1;
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
  @keyframes example {
    0%{left:0%; top:0%;}
    5%{left: 5%; top: 5%;}
    10%{left: 10%;top:10%;}
    20%{left:20%; top:20%;}
    30%{left: 30%;top:30%;}
    40%{left:40%; top:40%;}
    50%{left: 50%;top:30%;}
    60%{left:60%; top:20%;}
    70%{left: 70%;top:10%;}
    80%{left:80%; top:0%;}
    90%{left: 90%; top: -10%;}
    100%{left: 100%; top: -20%;}
  }


